*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Josefin Sans";
    background-color: #fffafb;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Header and Nav Bar */

header{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fffafb;
    align-items: center;
    top: 0;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 0 16px #9b9595;

}

.logo{
    width: 5%;
}
nav > ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
   
}
li > a{
    text-decoration: none;
    color: #1B1B1B;
}
nav > ul > li{
    list-style-type: none;
    padding: 0 0.2rem;
    display: block;
    margin: 0 3rem;
    font-size: 24px;
   
}
.btn-login{
    background-color: #fffafb;
    padding: 8px 16px;
    border: 1px solid #3127A7;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.btn-signup{
    background-color: #3127A7;
    color: #fffafb;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

/* About Us Page */
.first{
    margin-top: 200px;
    width: 45%;
    text-align: justify;
    padding-left: 5%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
}
.second > img{
    width: 45%;
    float: right;
    margin-top: -480px;
    height: 600px;
}
.third{
    clear: none;
    margin-top: 500px;
}
.num{
    place-items: center;
}
h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #3127A7
}
.secondimg{
    width: 45%;
    height: 550px;
    margin-top: 170px;
}
.secondtext{
    width: 45%;
    text-align: justify;
    float:right;
    margin-top: -400px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
    padding-right: 5%;
}
.team{
    clear: none;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
}
.teampic{
    margin-top: 50px;
    margin-left: -100px;
}
.teampic > img{
    margin-left: 100px;
}
.teamdes{
    font-size: 12px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-left: 20px;
}
.secteam{
    margin-left: 100px;
}
h3{
    font-size: 20px;
}
footer{
    background-color: #0C0928;
    color: #ded7d8;
   display: flex;
   height: 250px;
   margin-top: 50px;
   width: 100%;
}
.footfir{
    width: 45%;
    padding-left: 20%;
    padding-top: 30px;;
}
.footsec{
    display: flex;
    padding-left: 150px;
    padding-top: 70px;
}
h4{
    font-size: 24px;
    margin-bottom: 30px;
}
.footinfo a {
    line-height: 30px;
    color: #a49fa0;
    text-decoration: none;
}
.foothead{
    padding-right: 50px;
}

/* Landing Page */
h4{
    color: #3127A7;
}
.land1{
    margin-top: 150px;
    width: 40%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
.land1  h1{
    font-size: 32px ;
    text-align: center;
    margin-bottom: 34px;
    color: #3127A7;
  
}
.land1 > img{
    width: 75%;
}
.text{
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 24px;
}
.gets{
    padding: 8px 32px;
    background-color: #3127A7;
    text-decoration: none;
    color: #fffafb;
    border-radius: 8px;
    align-items: center; 
    cursor: pointer;
    border: none;
}
.land2{
    width: 100%;   
    margin-left: 50px;
}
.landtwo{
    display: flex;
    margin-top: 30px;
    align-items: center;
    margin-left: 100px;
    margin-bottom: -100px;
}
.land2a{
    width: 30%;
    margin-right: 5%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -130px;
}
#land3a{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-top: -100px;

}
#land3{
    margin-left: 100px;    
}
.useimg1{
    width: 200px;
    padding-right: 5%;
    height: 100%;
}
.useimg2{
    width: 200px;
    padding-right: 5%;
    height: 100%;
}
.useimg3{
    width: 200px;
    padding-right: 5%;
    height: 120%;
}
.useimg4{
    width: 200px;
    padding-right: 5%;
    height: 100%;
}
.use{    
    background-color: #6b64b1;
    padding: 30px;
    padding-left: 25%;
    margin-bottom: 70px;    
}
.lan{
    text-align: center;
    color:#3127A7;
    margin-bottom: 50px;
}
.land9{
    width: 100px;
}
.land9-head{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.land9a{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
.land9b{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.benefit{
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 24px;
    color: #3127A7;
}
#theirs{
    font-size: 48px;
    font-weight: bold;
}
#theirs-pix{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* Contact Us */

.cont{
    margin-top: 100px;
}
.cont1{
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.info label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info input, textarea{
    width: 550px;
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid;
    margin-bottom: 20px;
}
.info label, .info input {
    display: block;
}
.info textarea{
    height: 150px; 
}
.submit-button{
    padding: 8px 40px;
    background-color: #3127A7;
    color: #fffafb;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/* Login Page */

.login-head{
    margin-top: 100px;
    color: #3127A7;
    margin-bottom: 10px;
}
.login-p{
    margin-bottom: 50px;
}
#login{
    text-decoration: none;
    color: #e2122a;
}
#forget{
    text-decoration: none;
    color: #e2122a;
    margin-left: 40%;
}
#login-rem{
    margin-bottom: 28px;
}
.login-cont{
    margin-top: 20px;
}
.login-or{
    margin-top: 20px;
}
.fa{
    padding: 8px 16px;
    background-color: #ffffff;
    margin-bottom: 8px;
    width: 250px;
    box-shadow: 0 0 2px 0;   
}
.fa-span{
    margin-left: 30px;
}
.login-details{
    width: 100%;
    margin-left: 7%;
}
#login-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-top{
    margin-left: 10%;
}
.login-info label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.login-info input{
    width: 90%;
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid;
    margin-bottom: 20px;
}
.login-info label, .login-info input {
    display: block;
}
#login-img{
    width: 46%;
    margin-top: 130px;
    margin-left: 15%;
}
.login-two{
    display: flex;
    width: 90%;
    margin-left: 10%;
}

/* Sign Up */

.signup{
    margin-top: -10px;
    margin-bottom: -200px;
}
.signup1{
    margin-top: 1px;
}
.signup2{
    margin-top: -30px;
}
.agree{
    text-decoration: none;
    color: #e2122a;
}
.login-in{
    margin-top: 10px;
}
.signup5{
    margin-top: -20px;
}

/* Terms of Use */
 
#terms{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;   
}
.terms-text{
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 10px;
}
#center{
    width: 100%;
    display:flex;
    flex-direction: column;
}
#terms-lift{
    margin-top: -40px;
}
#terms-button{
    margin-top: 10px;
}
.space{
    margin-left: 70px;
}
#terms-list{
    margin-left: 40px;
}